.center {
  margin: 0 auto; }

.textCenter {
  text-align: center; }

.textRight {
  text-align: right; }

.pointer {
  cursor: pointer; }

.block {
  display: block; }

.inlineBlock {
  display: inline-block; }

.overlay {
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85); }

a {
  color: #0000ee; }

.overlay {
  display: none;
  z-index: 1100; }

.current {
  color: inherit;
  font-size: 1.0em !important; }

.current:hover {
  text-decoration: none !important; }

.inlineList li {
  display: inline-block; }
  .inlineList li button {
    vertical-align: top; }

#table_of_contents ul {
  position: -moz-sticky;
  position: -o-sticky;
  position: -webkit-sticky;
  position: sticky;
  top: 30px !important; }

.toc > ul {
  margin-top: 16px;
  position: -moz-sticky;
  position: -o-sticky;
  position: -webkit-sticky;
  position: sticky;
  top: 30px !important; }

main .doc {
  max-width: 60em;
  margin-left: 1.5em;
  min-height: 25em; }
  main .doc ul {
    padding-left: .25em; }
    main .doc ul li {
      list-style: none; }

@keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes fadeOut {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }

@keyframes exitToLeft {
  from {
    transform: translateX(0);
    opacity: 1; }

  to {
    transform: translateX(-25%);
    opacity: .5; } }

@keyframes enterFromRight {
  from {
    transform: translateX(25%);
    opacity: 0; }

  to {
    transform: translateX(0);
    opacity: 1; } }

.ng-enter {
  opacity: 0;
  transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in; }

.ng-enter-active {
  opacity: 1; }

.ng-enter-stagger {
  transition-delay: 0.1s; }

/*
.ng-enter {
	transition: 0.5s;
	opacity: 0;
}

.ng-enter-active {
	opacity: 1;
}	

.ng-leave {
	//transition: 0.5s;
	opacity: 1;
}

.ng-leave-active {
	opacity: 0;
}
*/
