.center {
  margin: 0 auto; }

.textCenter {
  text-align: center; }

.textRight {
  text-align: right; }

.floatRight {
  float: right; }

.floatLeft {
  float: left; }

.pointer {
  cursor: pointer; }

.block {
  display: block; }

.inlineBlock {
  display: inline-block; }

.overlay {
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85); }

a {
  color: #0000ee; }

.overlay {
  display: none;
  z-index: 1100; }

.current {
  color: inherit;
  font-size: 1.0em !important; }

.current:hover {
  text-decoration: none !important; }

.inlineList li {
  display: inline-block; }
  .inlineList li button {
    vertical-align: top; }

#table_of_contents ul {
  position: -moz-sticky;
  position: -o-sticky;
  position: -webkit-sticky;
  position: sticky;
  top: 30px !important;
  margin-top: 16px; }

main .doc {
  max-width: 60em;
  margin-left: 1.5em;
  min-height: 25em; }
  main .doc p, main .doc h3 {
    margin: 0; }
  main .doc ul {
    padding-left: .25em;
    margin: 0; }
    main .doc ul li {
      list-style: none;
      margin-bottom: 1.5em; }
  main .doc .glossary span {
    color: red; }
  main .doc .commands {
    width: 100%; }
    main .doc .commands thead tr {
      font-size: 1.3em; }
      main .doc .commands thead tr th {
        background-color: #6c266f;
        color: #fff; }
    main .doc .commands tbody td {
      vertical-align: top;
      padding: 5px; }
      main .doc .commands tbody td p, main .doc .commands tbody td .code {
        padding: 3px 5px;
        font-size: 1.2em; }
      main .doc .commands tbody td .code {
        background-color: #000;
        color: #fff; }
  main .doc .faq li * {
    transition: all .25s ease-out; }
  main .doc .faq li h3:hover, main .doc .faq li .active {
    color: #6c266f; }
  main .doc .faq li span {
    color: #2493b8; }
  main .doc .faq li .rotate90 {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg); }
  main .doc .faq li blockquote {
    padding-left: 10px;
    height: 0;
    opacity: 0; }
  main .doc .faq li .showAnswer {
    height: 50px;
    opacity: 1.0; }

@keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes fadeOut {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }

@keyframes exitToLeft {
  from {
    transform: translateX(0);
    opacity: 1; }

  to {
    transform: translateX(-25%);
    opacity: .5; } }

@keyframes enterFromRight {
  from {
    transform: translateX(25%);
    opacity: 0; }

  to {
    transform: translateX(0);
    opacity: 1; } }

.ng-enter {
  opacity: 0;
  transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in; }

.ng-enter-active {
  opacity: 1; }

.ng-enter-stagger {
  transition-delay: 0.1s; }

/*
.ng-enter {
	transition: 0.5s;
	opacity: 0;
}

.ng-enter-active {
	opacity: 1;
}	

.ng-leave {
	//transition: 0.5s;
	opacity: 1;
}

.ng-leave-active {
	opacity: 0;
}
*/
