.center {
  margin: 0 auto; }

.textCenter {
  text-align: center; }

.textRight {
  text-align: right; }

.pointer {
  cursor: pointer; }

.block {
  display: block; }

.inlineBlock {
  display: inline-block; }

.overlay {
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85); }

a {
  color: #0000ee; }

.overlay {
  display: none;
  z-index: 1100; }

.current {
  color: inherit;
  font-size: 1.0em !important; }

.current:hover {
  text-decoration: none !important; }

.inlineList li {
  display: inline-block; }
  .inlineList li button {
    vertical-align: top; }

#table_of_contents ul {
  position: -moz-sticky;
  position: -o-sticky;
  position: -webkit-sticky;
  position: sticky;
  top: 30px !important; }

.toc > ul {
  margin-top: 16px;
  position: -moz-sticky;
  position: -o-sticky;
  position: -webkit-sticky;
  position: sticky;
  top: 30px !important; }

main figure img {
  display: inline-block;
  height: 150px;
  width: auto; }
main figure .imgSelected {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;
  height: auto;
  z-index: 1101; }
main figure figurecaption {
  display: block;
  font-size: .9em; }
main .steps .inlineList li {
  margin: 0 20px;
  font-size: 1.3em;
  font-weight: bold; }
main .steps input {
  font-size: 1.2em;
  padding: 5px 0; }
main .steps .changeResult {
  font-size: 1.5em;
  padding: 10px; }
main .resources .inlineBlock {
  width: 50%;
  vertical-align: top; }
main .resources img {
  width: 75%;
  height: auto; }
main .resources ul li {
  margin-left: 15px; }

@keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes fadeOut {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }

@keyframes exitToLeft {
  from {
    transform: translateX(0);
    opacity: 1; }

  to {
    transform: translateX(-25%);
    opacity: .5; } }

@keyframes enterFromRight {
  from {
    transform: translateX(25%);
    opacity: 0; }

  to {
    transform: translateX(0);
    opacity: 1; } }

/*
main[ui-view].ng-enter, main[ui-view].ng-leave {
	transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
}

main[ui-view].ng-enter, main[ui-view].ng-leave-active {
	opacity: 0;
}

main[ui-view].ng-enter-active, main[ui-view].ng-leave {
	opacity: 1;
}
*/
