<h1 class="doc_title">Frequently Asked Questions</h1>

<div class="doc">
	<br>
	<ul class="faq">
		<li ng-repeat="item in faq">
			<h3 id="{{$index + 1}}" class="pointer" ng-click="showAnswer($index+1)" ng-class="{active: currentQ == ($index+1)}">
				<span class="inlineBlock" ng-class="{rotate90: currentQ == ($index+1)}">&gt;</span>
				&nbsp;{{item.question}}
			</h3>
			<blockquote ng-show="currentQ == ($index+1)" ng-class="{showAnswer: currentQ == ($index+1)}">
				<p ng-bind-html="item.answer">{{item.answer}}</p>	
			</blockquote>				
		</li>
	</ul>
	<br>
</doc>
