<h1 class="doc_title">Welcome to the RailsBridge Resource!</h1>

<div class="doc">
	<section class="goals">
		<h1>Goal</h1>
		<ul>
			<li>
				<div class="message">
					<p>This site aims to provide students with a resource about all things related to web development.</p>
				</div>
			</li>
		</ul>
	</section>
	<section class="overview">
		<h1>Overview</h1>
		<blockquote>
			<div class="message">
				<p>
					You will find a plethora of explanations and examples to common web development concepts and terminology used throughout the tech industry.&nbsp;&nbsp;This resource will be an on-going project so it will be constantly updated.
				</p>	
			</div>
		</blockquote>
	</section>
</doc>
