<h1 class="doc_title">Welcome to the RailsBridge Resource!</h1>

<div class="doc">
	<section class="goals">
		<h1>Goal</h1>
		<ul>
			<li>
				<p>This site aims to provide students with a resource about web development.</p>
			</li>
		</ul>
	</section>
	<section class="overview">
		<h1>Overview</h1>
		<blockquote>
			<p>
				You will find explanations and examples to common web development concepts and terminology used throughout the RailsBridge curriculum.&nbsp;&nbsp;This resource will be an on-going project with constant updates.
			</p>	
		</blockquote>
	</section>
</doc>
